.main-footer {
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 40px 20px 22px 20px;
  background-color: @gray-very-light;
  position: relative;
}

.container__footer {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
    margin: 0 auto;
  }
}

.main-footer__link-text {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 32px;
  position: relative;
}

.main-footer__link-text::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: @gray;
  bottom: 0;
  left: 0;
}

.main-footer__list-social {
  .list-none();
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 25px;
  // margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 21px;
  position: relative;
}

.main-footer__list-social::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: @gray;
  bottom: 1px;
  left: 0;
}

.main-footer__link-academy {
  width: 281px;
  padding-top: 22px;
  text-decoration: none;
  display: flex;
  align-items: center;
  margin: 0 auto;
  justify-content: center;
  column-gap: 40px;
}

.main-footer__span-academy {
  color: @black-light;
}

@media (min-width: @tablet-width) {
  .main-footer {
    padding: 0;
    box-sizing: border-box;
    padding: 58px 30px 55px 30px;
  }

  .main-footer__link-text {
    width: 128px;
    margin: 0;
    padding: 0;
  }

  .main-footer__list-social {
    width:230px;
    padding: 0;
    margin: 0;
    text-align: start;
  }

  .main-footer__list-social::before {
    display: none;
  }

  .main-footer__link-text::before {
    display: none;
  }

  .main-footer__link-academy {
    width: 143px;
    padding: 0;
    margin: 0;
    column-gap: 0;
    justify-content: space-between;
  }

}

// @media (min-width: @desktop-width) {
//   .main-footer {
//     width: 100%;
//   }
// }
