.navigation__list-menu {
  display: none;
}

.navigation__button {
  background: none;
}

.navigation__button::before {
  content: url("../../img/icons/burger-open.svg");
  width: 24px;
  height: 19px;
}

@media (min-width: @tablet-width) {
  .navigation__button::before {
    display: none;
  }

  .navigation__button {
    display: none;
  }

  .navigation__list-menu {
    .list-none();
    display: flex;
    width: 440px;
    justify-content: space-between;
  }

  .navigation__link {
    color: @black;
  }
}

@media (min-width: @desktop-width) {
  .navigation__list-menu {
    width: 478px;
  }

  .navigation__link {
    color: @white;
  }

  .navigation__link--black {
    color: @black;
  }
}
