.navigation__list-menu {
  display: none;
}

.navigation__button {
  background: none;
}

.navigation__button::before {
  content: url("../../img/icons/burger-open.svg");
  width: 24px;
  height: 19px;
}

.navigation__link {
  padding: 8px 0 8px 0;
  text-decoration: none;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .navigation__button::before {
    display: none;
  }

  .navigation__button {
    display: none;
  }

  .navigation__list-menu {
    .list-none();
    display: flex;
    width: 440px;
    justify-content: space-between;
  }

  .navigation__link {
    color: @black;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      border-bottom: 2px solid @green;
    }
  }
}

@media (min-width: @desktop-width) {
  .navigation__list-menu {
    width: 478px;
  }

  .navigation__link {
    color: @white;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      border-bottom: 2px solid @white;
    }
  }

  .navigation__link--black {
    color: @black;

    &:hover {
      opacity: 0.6;
    }

    &:active {
      border-bottom: 2px solid @green;
    }
  }
}
