.example__slider-before-after {
  display: grid;
  grid-template-columns: auto 86px auto;
  padding-top: 15px;

  @media (min-width: @tablet-width) {
    grid-template-columns: auto 426px auto;
    align-content: end;
    margin-bottom: 56px;
    padding: 0;
    column-gap: 23px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.example__slider-button {
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 6px;
  height: 14px;
  background-color: @gray-almost-dark;
  position: relative;
}

input[type="range"]::-moz-range-track {
  border-radius: 6px;
  height: 14px;
  background-color: @gray-almost-dark;
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  background: @green;
  position: absolute;
  border-radius: 6px;
  cursor: pointer;
  width: 36px;
  height: 6px;
  -webkit-appearance: none;
  margin-top: 4px;
  margin-left: 6px;
}

input[type="range"]::-moz-range-thumb {
  background: @green;
  position: absolute;
  border-radius: 6px;
  cursor: pointer;
  width: 36px;
  height: 6px;
  -webkit-appearance: none;
  margin-top: 4px;
}

@media (min-width: @tablet-width) {
  input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 6px;
    height: 6px;
    background-color: @gray-almost-dark;
  }

  input[type="range"]::-moz-range-track {
    border-radius: 6px;
    height: 6px;
    background-color: @gray-almost-dark;
  }

  input[type="range"]::-webkit-slider-thumb {
    background: @white;
    position: relative;
    border-radius: 50%;
    cursor: pointer;
    width: 34px;
    height: 34px;
    -webkit-appearance: none;
    margin-top: -14px;
  }

  input[type="range"]::-moz-range-thumb {
    background: @white;
    border-radius: 50%;
    cursor: pointer;
    width: 34px;
    height: 34px;
    -webkit-appearance: none;
    margin-top: -14px;
  }
}
